[submodule "yosys"]
	path = yosys
	url = https://github.com/rtl-buddy/yosys
	ignore = dirty
	branch = rtl-buddy
[submodule "yosys-slang"]
	path = yosys-slang
	url = https://github.com/rtl-buddy/yosys-slang
	ignore = dirty
	branch = rtl-buddy
[submodule "verilator"]
	path = verilator
	url = https://github.com/rtl-buddy/verilator
	ignore = dirty
	branch = rtl-buddy-5.050
[submodule "surfer"]
	path = surfer
	url = https://github.com/rtl-buddy/surfer.git
	ignore = dirty
	branch = rtl-buddy
[submodule "sby"]
	path = sby
	url = https://github.com/YosysHQ/sby
	ignore = dirty
[submodule "veridian"]
	path = veridian
	url = https://github.com/vivekmalneedi/veridian
	ignore = dirty
[submodule "OpenROAD"]
	path = OpenROAD
	url = https://github.com/The-OpenROAD-Project/OpenROAD
	ignore = dirty
[submodule "nextpnr-xilinx"]
	path = nextpnr-xilinx
	url = https://github.com/openXC7/nextpnr-xilinx.git
	ignore = dirty
[submodule "prjxray"]
	path = prjxray
	url = https://github.com/openXC7/prjxray.git
	ignore = dirty
[submodule "prjxray-db"]
	path = prjxray-db
	url = https://github.com/openXC7/prjxray-db.git
	ignore = dirty
